<?xml version='1.0' encoding='UTF-8' ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


    <!-- Uso de anotaciones -->
    <context:annotation-config />
  
  
    <!-- Paquete para las clases de servicio -->
    <context:component-scan base-package="pe.egcc.app.service"/>


    <!-- Fuente de Datos -->
	<bean id="dataSource"
	      class="org.springframework.jdbc.datasource.DriverManagerDataSource"
	      p:driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
	      p:url="jdbc:sqlserver://localhost:1433;databaseName=MICONDOMINIO;"
	      p:username="sa"
	      p:password="15101086" />


    <!-- El JdbcTemkplate -->
	<bean id="jdbcTemplate"  
	       class="org.springframework.jdbc.core.JdbcTemplate" >
	       <property name="dataSource" ref="dataSource"/>
	</bean>


    <!-- Manejo de Transacciones -->
	<bean id="transactionManager"
	    class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	    <property name="dataSource" ref="dataSource" />
	</bean>
	
	
	<!-- Manejo de Transacciones con anotaciones -->
    <tx:annotation-driven 
        transaction-manager="transactionManager" />

</beans>