<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_adonde</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="pe/java/hibernate/Visita.hbm.xml"/>
    <mapping resource="pe/java/hibernate/Cuota.hbm.xml"/>
    <mapping resource="pe/java/hibernate/Queja.hbm.xml"/>
    <mapping resource="pe/java/hibernate/Condominio.hbm.xml"/>
    <mapping resource="pe/java/hibernate/Edificio.hbm.xml"/>
    <mapping resource="pe/java/hibernate/Administrador.hbm.xml"/>
    <mapping resource="pe/java/hibernate/Evento.hbm.xml"/>
    <mapping resource="pe/java/hibernate/Usuario.hbm.xml"/>
    <mapping resource="pe/java/hibernate/Departamento.hbm.xml"/>
    <mapping resource="pe/java/hibernate/Residente.hbm.xml"/>
    <mapping resource="pe/java/hibernate/Pago.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
